<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.AdminInfMapper" >


  <!--表格查询-->
  <select id="adminSelectTable" resultMap="Admin" parameterType="AdminInf">
    select a.*,r.roleName,d2.dicValue from t_admin a left join t_role r on a.roleid = r.roleId left join t_dic d2 on a.adminState=d2.dicid;
    </select>
  <resultMap id="Admin" type="AdminInf">
    <id property="adminId" column="adminId"></id>
    <result property="adminName" column="adminName"></result>
    <result property="account" column="account"></result>
    <result property="password" column="password"></result>
    <result property="roleId" column="roleId"></result>
    <result property="adminState" column="adminState"></result>
    <result property="regTime" column="regTime"></result>
  <association property="role" javaType="Role">
    <result column="roleName" property="roleName"></result>
  </association>
    <association property="dic" javaType="Dic">
      <result column="dicValue" property="dicValue"></result>
    </association>
  </resultMap>
  <select id="adminSelectCount" resultType="int">
            select count(*) from t_admin
    </select>
<insert id="insertAdminInf" parameterType="AdminInf">
          insert into t_admin(account,password,roleId,adminState,regTime,avatar,updateTime,adminName) values (#{account},#{password},#{roleId},#{adminState},#{regTime},#{avatar},#{updateTime},#{adminName})
</insert>
  <delete id="deleteAdminInf" parameterType="AdminInf">
        delete from t_admin where adminId = #{adminId}
  </delete>
  <update id="updateAdminInf" parameterType="AdminInf">
        update t_admin  set account = #{account},password = #{password},roleId = #{roleId},adminState = #{adminState},adminName = #{adminName} where adminId = #{adminId}
  </update>
  <update id="resetPwd">
            update t_admin set password = '123456' where account = #{account}
  </update>


  <insert id="addAdmin" parameterType="AdminInf">
    insert into t_admin(adminId, account, password, roleId, adminState, regTime, avatar, updateTime, adminName)value (#{adminId}, #{account}, #{password}, #{roleId}, 5,
       sysdate(),  #{avatar}, #{updateTime}, #{adminName})
  </insert>

  <delete id="deleteAdmin" parameterType="java.lang.Integer">
    delete from t_admin where adminId = #{adminId}
  </delete>

  <update id="updateAdmin" parameterType="AdminInf">
    update t_admin
    <set>
      <if test="account !=null and account !=''">
        account = #{account},
      </if>
      <if test="password !=null and password !=''">
        password = #{password},
      </if>
      <if test="roleId !=null and roleId !=''">
        roleId = #{roleId},
      </if>
      <if test="adminState !=null and adminState !=''">
        adminState = #{adminState},
      </if>

      <if test="avatar !=null and avatar !=''">
        avatar = #{avatar},
      </if>
      <if test="updateTime !=null and updateTime !=''">
        updateTime = sysdate(),
      </if>
      <if test="adminName !=null and adminName !=''">
        adminName = #{adminName},
      </if>
    </set>
    where adminId = #{adminId}
  </update>

  <select id="selectAdmin" resultType="AdminInf" parameterType="HashMap">
    select a.*,d.dicValue from t_admin a left join t_dic d on a.adminState = d.dicId  left join t_role r on a.roleId = r.roleId
    <where>
      <if test="adminName != null and adminName !=''">
        and adminName like CONCAT('%',#{adminName},'%')
      </if>
    </where>

    limit #{start},#{end};

  </select>

  <!--  select a.*,r.roleName from t_admin a left join t_role r on a.roleId = r.roleId limit #{start},#{end};-->
  <resultMap id="AdminInf" type="AdminInf">
    <id property="adminId" column="adminId"></id>
    <result property="account" column="account"></result>
    <result property="roleId" column="roleId"></result>
    <result property="adminState" column="adminState"></result>
    <result property="regTime" column="regTime"></result>
    <result property="adminName" column="adminName"></result>
    <association property="dic" javaType="Dic">
      <result column="dicValue" property="dicValue"></result>
    </association>
  </resultMap>

  <select id="count" resultType="int" parameterType="java.util.HashMap">
    select count(*) from t_admin where 1=1
    <if test="adminName != null and adminName !=''">
      and adminName like CONCAT('%',#{adminName},'%')
    </if>
  </select>

  <!--修改状态-->
  <update id="updateState" parameterType="AdminInf">
    update t_admin set adminState= #{adminState}
    <where>
      adminId=#{adminId};
    </where>
  </update>

<!--登入-->
  <select id="selectAdminInf" parameterType="AdminInf" resultType="AdminInf">
    select * from t_admin
    <where>
      <if test="account!=null and account!=''">
        and account=#{account}
      </if>
      <if test="password!=null and password!=''">
        and password=#{password}
      </if>
    </where>
  </select>


</mapper>