<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.AdvertMapper" >
  <resultMap id="BaseResultMap" type="com.cykj.bean.Advert" >
    <id column="advertId" property="advertid" jdbcType="INTEGER" />
    <result column="advertImg" property="advertimg" jdbcType="VARCHAR" />
    <result column="advertUrl" property="adverturl" jdbcType="VARCHAR" />
    <result column="begTime" property="begtime" jdbcType="VARCHAR" />
    <result column="endTime" property="endtime" jdbcType="VARCHAR" />
    <result column="advertMoney" property="advertmoney" jdbcType="INTEGER" />
    <result column="advertTitle" property="adverttitle" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
  </resultMap>

  <!--表格查询-->
  <select id="advertSelectTable" resultMap="Advert" parameterType="Map">
    select a.*,d.dicValue from t_advert a left join t_dic d on a.advertState = d.dicid where 1=1
    <if test="beginTime!=null and beginTime!=''">
      <![CDATA[and a.begTime>=#{beginTime}]]>
    </if>
    <if test="endingTime!=null and endingTime!=''">
      <![CDATA[and a.endTime<=#{endingTime}]]>
    </if>
    <if test="selState!=null and selState!=''">
      and a.advertState =#{selState}
    </if>
    </select>
  <resultMap id="Advert" type="Advert">
    <id property="advertId" column="advertId"></id>
    <result property="advertTitle" column="advertTitle"></result>
    <result property="begTime" column="begTime"></result>
    <result property="endTime" column="endTime"></result>
    <result property="advertState" column="advertState"></result>
    <association property="dic" javaType="Dic">
      <result column="dicValue" property="dicValue"></result>
    </association>
  </resultMap>
  <select id="advertSelectCount" resultType="int" parameterType="Map">
    select count(*) from t_advert a where 1=1
    <if test="beginTime!=null and beginTime!=''">
      <![CDATA[and a.begTime>=#{beginTime}]]>
    </if>
    <if test="endingTime!=null and endingTime!=''">
      <![CDATA[and a.endTime<=#{endingTime}]]>
    </if>
    <if test="selState!=null and selState!=''">
      and a.advertState =#{selState}
    </if>
    </select>
  <insert id="insertAdvert" parameterType="Advert">
          insert into t_advert(advertTitle,begTime,endTime,advertMoney,advertState) values (#{advertTitle},#{begTime},#{endTime},#{advertMoney},5)
  </insert>
  <delete id="deleteAdvert" parameterType="Advert">
        delete from t_advert where advertId = #{advertId}
  </delete>
  <update id="updateAdvert" parameterType="Advert">
        update t_advert  set advertTitle = #{advertTitle},begTime = #{begTime},endTime = #{endTime},advertMoney = #{advertMoney},advertState = #{advertState} where advertId = #{advertId}
  </update>
  <!--修改状态-->
  <update id="updateState" parameterType="Advert">
    update t_advert set advertState= #{advertState}
    <where>
      advertid=#{advertId};
    </where>
  </update>
<!--查询状态和日期符合条件的-->
  <select id="selAdvertMsg" resultType="Advert">
    select * from t_advert where advertState = 5 and endTime > sysdate();
  </select>
</mapper>