<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.CityMapper" >
  <select id="getCity" parameterType="java.util.HashMap" resultType="City">
    select * from t_city;
  </select>

  <select id="findCity" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select count(*) from t_city;
  </select>
</mapper>