<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.MenuInfMapper" >
  <resultMap id="BaseResultMap" type="com.cykj.bean.MenuInf" >
    <id column="menuId" property="menuid" jdbcType="INTEGER" />
    <result column="menuName" property="menuname" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
<!--查询角色拥有的子菜单-->
  <select id="findMenuByRole" resultType="MenuInf" parameterType="int">
        select m.* from t_power p , t_menu m where p.menuId = m.menuId and m.pid= #{menuId}  and p.state=1  and p.roleId=#{roleId};
  </select>
<!--查询父菜单-->
    <select id="findByPid" resultType="MenuInf">
        select m2.* from t_power p , t_menu m,t_menu m2 where p.menuId = m.menuId  and m.pid=m2.menuId group by m.pid;
    </select>

<!--权限分配修改状态-->
    <update id="updateRole" parameterType="map">
        update t_power set state= 0 where roleId=#{roleId};
        update t_power set state= 1 where roleId=#{roleId} and menuId in
        <foreach collection="lists" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        </update>

    <select id="findMenus" resultType="MenuInf" parameterType="int">
        select * from t_menu where  pid= #{menuId};
  </select>

</mapper>