<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.NewsInfMapper">
    <!--新增新闻-->
    <insert id="addNewsInf" parameterType="com.cykj.bean.NewsInf">
        insert into t_news (newsId,newTitle,newsTime,newsUrl,newsState)value(#{newsId},
        #{newTitle},sysdate(),#{newsUrl},5)
    </insert>

    <!--删除新闻-->
    <delete id="deleteNewsInf" parameterType="java.lang.Integer">
        delete from t_news where newsId = #{newsId}
    </delete>

    <!--修改新闻-->
    <update id="updateNewsInf" parameterType="com.cykj.bean.NewsInf">
        update t_news set newTitle=#{newTitle},newsTime=sysdate() where newsId = #{newsId}
    </update>

    <!--查询表格-->
    <select id="selectNewsInfs" parameterType="HashMap" resultMap="NewsInf">
    select n.*,d.dicValue  from t_news n left join t_dic d on n.newsState = d.dicId where 1=1
        <if test="startTime!=null and startTime!=''">
            and date_format(newsTime, '%Y-%m-%d %H:%i:%s')>#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and date_format(newsTime, '%Y-%m-%d %H:%i:%s')&lt;=#{endTime}
        </if>
        <if test="newTitle!=null and newTitle!=''">
            and newTitle like CONCAT('%',#{newTitle},'%')
        </if>
        <if test="newsState!=null and newsState!=''">
            and newsState =#{newsState}
        </if>
        limit #{start},#{end};
  </select>
    <resultMap id="NewsInf" type="NewsInf">
        <id property="newsId" column="newsId"></id>
        <result property="newTitle" column="newTitle"></result>
        <result property="newsTime" column="newsTime"></result>
        <result property="newsState" column="newsState"></result>
        <association property="dic" javaType="Dic">
            <result column="dicValue" property="dicValue"></result>
        </association>
    </resultMap>

    <!--    <select id="selectAdmin" parameterType="HashMap" resultType="Admin">-->
    <!--        select * from t_news-->
    <!--        <where>-->
<!--                <if test="startTime!=null and startTime!=''">-->
<!--                    and date_format(newsTime, '%Y-%m-%d %H:%i:%s')>#{startTime}-->
<!--                </if>-->
<!--                <if test="endTime!=null and endTime!=''">-->
<!--                    and date_format(newsTime, '%Y-%m-%d %H:%i:%s')&lt;=#{endTime}-->
<!--                </if>-->
<!--                <if test="newTitle!=null and newTitle!=''">-->
<!--                    and newTitle like CONCAT('%',#{newTitle},'%')-->
<!--                </if>-->
    <!--        </where>-->
    <!--        limit #{start},#{end}-->
    <!--    </select>-->
    <select id="newsInfsCount" resultType="int" parameterType="HashMap">
        select count(*) from t_news where 1=1
        <if test="newTitle != null and newTitle !=''">
            and newTitle like CONCAT('%',#{newTitle},'%')
        </if>
        <if test="startTime!=null and startTime!=''">
            and date_format(newsTime, '%Y-%m-%d %H:%i:%s')>#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and date_format(newsTime, '%Y-%m-%d %H:%i:%s')&lt;=#{endTime}
        </if>
    </select>

    <!--修改状态-->
    <update id="updateState" parameterType="com.cykj.bean.NewsInf">
        update t_news set newsState = #{newsState}
        where newsId = #{newsId}
    </update>

</mapper>