<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.UserInfMapper" >

  <insert id="addUser" parameterType="UserInf">
    insert into t_user(userId, account, password, userName, userSex, userAge, avatar, idCardNum, regTime,
      phoneNum, updateTime, money, point)value (#{userid}, #{account}, #{password}, #{username}, #{usersex},
       #{userage},  #{avatar}, #{idcardnum}, sysdate(), #{phonenum}, #{updatetime}, #{money},  #{point})
  </insert>
  <insert id="addWxUser" parameterType="String">
     insert into t_user(openId, regTime,updateTime, money, point)value ( #{openId},sysdate(),sysdate(), 100,0)
  </insert>
  <select id="selectUserByOpenId" parameterType="String" resultType="UserInf">
    select * from t_user where openId=#{openId};
    update t_user set updateTime=sysdate() where openId=#{openId};
  </select>
  <delete id="deleteUser" parameterType="java.lang.Integer">
    delete from t_user where userId = #{userId}
  </delete>

  <update id="updateUser" parameterType="java.lang.Integer">
    update t_user
    <set>
      <if test="account !=null and account !=''">
        account = #{account},
      </if>
      <if test="password !=null and password !=''">
        password = #{password},
      </if>
      <if test="userName !=null and userName !=''">
        userName = #{userName},
      </if>
      <if test="userSex !=null and userSex !=''">
        userSex = #{userSex},
      </if>
      <if test="userAge !=null and userAge !=''">
        userAge = #{userAge},
      </if>
      <if test="avatar !=null and avatar !=''">
        avatar = #{avatar},
      </if>
      <if test="idCardNum !=null and idCardNum !=''">
        idCardNum = #{idCardNum},
      </if>
      <if test="regTime !=null and regTime !=''">
        regTime = #{regTime},
      </if>
      <if test="phoneNum !=null and phoneNum !=''">
        phoneNum = #{phoneNum},
      </if>
      <if test="updateTime !=null and updateTime !=''">
        updateTime = #{updateTime},
      </if>
      <if test="money !=null and money !=''">
        money = #{money},
      </if>
      <if test="point !=null and point !=''">
        point = #{point},
      </if>
    </set>
      where userId = #{userId}
  </update>

  <select id="selectUser" resultType="UserInf" parameterType="java.util.HashMap">
    select * from t_user
    <where>
      <if test="userName != null and userName !=''">
        and userName like CONCAT('%',#{userName},'%')
      </if>
    </where>
    limit #{start},#{end}
  </select>

  <select id="count" resultType="int" parameterType="HashMap">
    select count(*) from t_user where 1=1
    <if test="userName != null and userName !=''">
      and userName like CONCAT('%',#{userName},'%')
    </if>
    <if test="userId != null and userId !=''">
      and userId like CONCAT('%',#{userId},'%')
    </if>
  </select>


  <insert id="insert" parameterType="com.cykj.bean.UserInf" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userSex != null" >
        userSex,
      </if>
      <if test="userAge != null" >
        userAge,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="idCardNum != null" >
        idCardNum,
      </if>
      <if test="regTime != null" >
        regTime,
      </if>
      <if test="phoneNum != null" >
        phoneNum,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="point != null" >
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        #{idcardnum,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateUserInf" parameterType="com.cykj.bean.UserInf" >
    update t_user
    <set >
      <if test="password != null and password !=''" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName !=''" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null and userSex !=''" >
        userSex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null and userAge !=0" >
        userAge = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="avatar != null and avatar !=''" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null and idCardNum !=''" >
        idCardNum = #{idcardnum,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null and regTime!=''" >
        regTime = #{regTime,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null and phoneNum!=''" >
        phoneNum = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime!=''" >
        updateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
  </update>

  <select id="selectUsers" resultType="UserInf" parameterType="UserInf">
    select * from t_user
    <trim prefix="where" prefixOverrides="and">
      <if test="account != null and account !=''" >
        and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password !=''" >
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName !=''" >
        and userName = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="userSex != null and userSex !=''" >
        and userSex = #{userSex,jdbcType=VARCHAR}
      </if>
      <if test="userAge != null" >
        and userAge = #{userAge,jdbcType=INTEGER}
      </if>
      <if test="avatar != null and avatar !=''" >
        and avatar = #{avatar,jdbcType=VARCHAR}
      </if>
      <if test="idCardNum != null and idCardNum !=''" >
        and idCardNum = #{idcardNum,jdbcType=VARCHAR}
      </if>
      <if test="regTime != null and regTime !=''" >
        and regTime = #{regTime,jdbcType=VARCHAR}
      </if>
      <if test="phoneNum != null and phoneNum !=''" >
        and phoneNum = #{phoneNum,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null and updateTime !=''" >
        and updateTime = #{updateTime,jdbcType=VARCHAR}
      </if>
      <if test="money != null and money !=''" >
        and money = #{money,jdbcType=DOUBLE}
      </if>
      <if test="point != null and point !=''" >
        and point = #{point,jdbcType=INTEGER}
      </if>
    </trim>
  </select>

  <update id="updatePwd" parameterType="com.cykj.bean.UserInf" >
    update t_user set password = #{password} where phoneNum = #{phoneNum}
  </update>

</mapper>