<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cykj.mapper.ChatInfMapper" >
  <resultMap id="BaseResultMap" type="com.cykj.bean.ChatInf" >
    <id column="chatId" property="chatid" jdbcType="INTEGER" />
    <result column="adminId" property="adminid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="msgcontent" property="msgcontent" jdbcType="VARCHAR" />
    <result column="msgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="msgRole" property="msgrole" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    chatId, adminId, userId, msgcontent, msgType, msgRole
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_chat
    where chatId = #{chatid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_chat
    where chatId = #{chatid,jdbcType=INTEGER}
  </delete>
<!--  <insert id="insert" parameterType="com.cykj.bean.ChatInf" >-->
<!--    insert into t_chat (chatId, adminId, userId, -->
<!--      msgcontent, msgType, msgRole-->
<!--      )-->
<!--    values (#{chatid,jdbcType=INTEGER}, #{adminid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, -->
<!--      #{msgcontent,jdbcType=VARCHAR}, #{msgtype,jdbcType=VARCHAR}, #{msgrole,jdbcType=VARCHAR}-->
<!--      )-->
<!--  </insert>-->
  <insert id="insert" parameterType="com.cykj.bean.ChatInf" >
    insert into t_chat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chatid != null" >
        chatId,
      </if>
      <if test="adminid != null" >
        adminId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="msgcontent != null" >
        msgcontent,
      </if>
      <if test="msgtype != null" >
        msgType,
      </if>
      <if test="msgrole != null" >
        msgRole,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chatid != null" >
        #{chatid,jdbcType=INTEGER},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="msgrole != null" >
        #{msgrole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cykj.bean.ChatInf" >
    update t_chat
    <set >
      <if test="adminid != null" >
        adminId = #{adminid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        msgcontent = #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        msgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="msgrole != null" >
        msgRole = #{msgrole,jdbcType=VARCHAR},
      </if>
    </set>
    where chatId = #{chatid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cykj.bean.ChatInf" >
    update t_chat
    set adminId = #{adminid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      msgcontent = #{msgcontent,jdbcType=VARCHAR},
      msgType = #{msgtype,jdbcType=VARCHAR},
      msgRole = #{msgrole,jdbcType=VARCHAR}
    where chatId = #{chatid,jdbcType=INTEGER}
  </update>
</mapper>