<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}" />
    <script th:src="@{/js/jquery-3.5.1.js}" charset="utf-8"></script>
</head>
<body>
<center>
<div class="layui-form">
    <div class="layui-inline">
        发布时间:
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="beginTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-inline">
        结束时间:
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="endingTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    状态：
    <div class="layui-inline">
        <select id="selState" name="modules" lay-verify="required" lay-search="">
            <option value="">请选择</option>
            <option value="5">启用</option>
            <option value="4">禁用</option>
        </select>
    </div>
    <button id="search_state" class="layui-btn" data-type="reload">搜索</button>
    <button type="button" id="addBtn" class="layui-btn" data-type="reload">新增</button>
</div>
</center>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<!--新增广告弹窗-->
<div style="display: none;" id="myInf">
    <form class="layui-form" action="" method="post">
        <br/>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">发布时间</label>
            <div class="layui-input-block">
                <input type="text" id="begTime" required lay-verify="required" placeholder="请输入发布时间"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">结束时间</label>
            <div class="layui-input-block">
                <input type="text"  id="endTime" required lay-verify="required" placeholder="请输入结束时间"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告金额</label>
            <div class="layui-input-block">
                <input type="text"  id="advertMoney" required lay-verify="required" placeholder="请输入广告金额"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="register" class="layui-btn" lay-submit lay-filter="saveSubmit">新增</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--修改广告弹窗-->
<div style="display: none;" id="resetMyInf">
    <form class="layui-form" action="" method="post">
        <br/>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告Id</label>
            <div class="layui-input-block">
                <input type="text" id="advertId" required lay-verify="required"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告标题</label>
            <div class="layui-input-block">
                <input type="text" id="resetTitle" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">发布时间</label>
            <div class="layui-input-block">
                <input type="text" id="resetBegTime" required lay-verify="required" placeholder="请输入发布时间"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">结束时间</label>
            <div class="layui-input-block">
                <input type="text"  id="resetEndTime" required lay-verify="required" placeholder="请输入结束时间"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告金额</label>
            <div class="layui-input-block">
                <input type="text"  id="resetAdvertMoney" required lay-verify="required" placeholder="请输入广告金额"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告状态</label>
            <div class="layui-input-block">
                <input type="text"  id="resetAdvertState" required lay-verify="required" placeholder="请输入广告状态"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="resetAffirm" class="layui-btn" lay-submit lay-filter="saveSubmit">修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--广告信息弹窗-->
<div style="display: none;" id="MyInfs">
    <form class="layui-form" action="" method="post">
        <br/>
        <center>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告Id</label>
            <div class="layui-input-block">
                <input style="width: 200px" type="text" id="advertIds" required lay-verify="required"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">广告标题</label>
            <div class="layui-input-block">
                <input style="width: 200px" type="text" id="resetTitles" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">发布时间</label>
            <div class="layui-input-block">
                <input style="width: 200px" type="text" id="resetBegTimes" required lay-verify="required" placeholder="请输入发布时间"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">结束时间</label>
            <div class="layui-input-block">
                <input style="width: 200px" type="text"  id="resetEndTimes" required lay-verify="required" placeholder="请输入结束时间"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label required">广告金额</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input style="width: 200px" type="text"  id="resetAdvertMoneys" required lay-verify="required" placeholder=""-->
<!--                       autocomplete="off" class="layui-input" readonly unselectable='on'>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label required">广告状态:</label>
            <div class="layui-input-block">
                <input style="width: 200px" type="text"  id="resetAdvertStates" required lay-verify="required" placeholder="请输入广告状态"
                       autocomplete="off" class="layui-input" readonly unselectable='on'>
            </div>
        </div>
        </center>
    </form>
</div>

<script type="text/html" id="barDemo">
    {{# if(d.advertState == '4'){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs classSt" lay-event="enable">启用</a>
    {{# } else if(d.advertState == '5'){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs classSt" lay-event="enable">禁用</a>
    {{# } }}
</script>

<script th:src="@{/js/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:src="@{/js/AdvertController.js}" charset="utf-8"></script>

</body>
</html>