<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layim - layui</title>

  <link rel="stylesheet" th:href="@{/src/css/layui.css}">
  <style>
    html{background-color: #D9D9D9;}
  </style>
</head>
<body>
<script th:src="@{/src/layui.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{https://cdn.bootcss.com/sockjs-client/1.4.0/sockjs.min.js}"></script>
<script>
  $(function() {
    $.ajax({
      contentType:"application/json",
      url:"/main/getLoginner",
      type:"post",
      data:"",
      dataType:"json",
      success:function (data) {
        alert(data)
        console.log(data)
        layui.use('layim', function(layim){
          var layim = layui.layim;
          var socket = new WebSocket('ws://localhost:8080/websocket/'+data.userName);
          socket.onopen = function () {
            console.log(data.userName+"连接成功")
            // socket.send('XXX连接成功');
          }
          socket.onmessage = function(res){
            res = JSON.parse(res.data);
            console.log(res)
            layim.getMessage(res
            )
          };
          if (data.userName=="xx"){
            layim.config({
              init: {
                url: '/json/getList1.json'
                ,data: {}
              }

              //查看群员接口
              ,members: {
                url: '/json/getMembers.json'
                ,data: {}
              }
            });
          }else {
            layim.config({
              init: {
                url: '/json/getList.json'
                ,data: {}
              }
              //查看群员接口
              ,members: {
                url: '/json/getMembers.json'
                ,data: {}
              }
            });
          }
          layim.on('sendMessage', function(res){
            var mine = res.mine;
            var to = res.to; //对方的信息
            //监听到上述消息后，就可以轻松地发送socket了，如：
            socket.send(JSON.stringify({
              type: 'friendMessage' //随便定义，用于在服务端区分消息类型
              ,data: res
              ,role : $("#userName").val()
            }));
          });
        });
      },
      error:function () {
        alert('网络繁忙');
      },
    })
  });


</script>
</body>
</html>
