<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>传一公交</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/src/css/layui.css}">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">传一公交</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    [[${session.adminInf.adminName}]]
                </a>
            </li>
            <li id="but1" class="layui-nav-item">
                <a href="javascript:void(0)">退出</a></li>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" >
                <div th:each="hasMap:${hasMap}">
                    <li class="layui-nav-item" >
                        <a >[[${hasMap.key}]]</a>
                        <dl class="layui-nav-child">
                            <div th:each="menu:${hasMap.value}">
                                <dd ><a th:href="${menu.url}" target="iframe">[[${menu.menuName}]]</a></dd>
                            </div>
                        </dl>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe class="layui-layedit-iframe" id="iframe" name="iframe" src="" style="width: 100%;height: 100%"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        欢迎来到传一公交大后台！
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}" charset="utf-8"></script>
<script th:src="@{/src/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.js}" type="text/javascript" charset="UTF-8"></script>
<script th:src="@{https://cdn.bootcss.com/sockjs-client/1.4.0/sockjs.min.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script>
    $(function () {
        $("layui-nav-tree>li>dl>dd>a").click(function (e) {
            e.preventDefault();
            $("#iframe").attr("src", $(this).attr("href"));
        });
    });
</script>

<script>
    $(function() {
        $.ajax({
            contentType:"application/json",
            url:"/Admin/getService",
            type:"post",
            data:"",
            dataType:"json",
            success:function (data) {
              
                console.log(data)
                layui.use('layim', function(layim){
                    var layim = layui.layim;
                    var socket = new WebSocket('ws://localhost:8080/websocket/'+data.userName);
                    socket.onopen = function () {
                        console.log(data.userName+"连接成功")
                        // socket.send('XXX连接成功');
                    }
                    socket.onmessage = function(res){
                        res = JSON.parse(res.data);
                        console.log(res)
                        layim.getMessage(res
                        )
                    };
                    if (data.userName=="xx"){
                        layim.config({
                            init: {
                                url: '/json/getList1.json'
                                ,data: {}
                            }

                            //查看群员接口
                            ,members: {
                                url: '/json/getMembers.json'
                                ,data: {}
                            }
                        });
                    }else {
                        layim.config({
                            init: {
                                url: '/json/getList.json'
                                ,data: {}
                            }
                            //查看群员接口
                            ,members: {
                                url: '/json/getMembers.json'
                                ,data: {}
                            }
                        });
                    }
                    layim.on('sendMessage', function(res){
                        var mine = res.mine;
                        var to = res.to; //对方的信息
                        //监听到上述消息后，就可以轻松地发送socket了，如：
                        socket.send(JSON.stringify({
                            type: 'friendMessage' //随便定义，用于在服务端区分消息类型
                            ,data: res
                            ,role : $("#userName").val()
                        }));
                    });
                });
            },
            error:function () {
                alert('网络繁忙');
            },
        })
    });
</script>
</body>
<script>
    function getAlert(msg,session,title) {
        return layer.alert(msg, {
            title:title===undefined?'信息':title,
            skin: 'layui-layer-molv' //样式类名  自定义样式
            ,closeBtn: 1    // 是否显示关闭按钮 0不显示，1  2 样式
            ,anim: 0 //动画类型
            ,btn: ['确定','取消'] //按钮
            ,icon: 6    // icon 5是失败
            ,yes:session
        });
    }
    $("#but1").click(function() {
        getAlert('系统提示，您确定要退出本次登录吗?',function () {
            location.href = "http://localhost:8080/page/whatPage?pageName=adminLogin";
        });
    });
</script>
</html>

