<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>城市线路配置</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/DrawRoute.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=e3414d925e633d9acc327de720e02e5e&&plugin=AMap.Scale"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>

</head>
<body>
<div id="container" style="height: 100%;width: 100%"></div>

    <!--新增站点页面-->
    <div id="myInf">
        <div >
            <div class="show">
                <button class="show_btn" type="button" onclick="nextBtn(0)">下一步</button>
                <img onclick="show()" class="show_btn icon" th:src="@{/imgs/show.png}">
            </div>
            <div class="show">
                <button class="show_btn" type="button" onclick="addSelectBtn()">增加站点</button>
                <button class="show_btn" type="button" onclick="deleteSelectBtn()">删除站点</button>
                <button class="show_btn" type="button" onclick="resetSelectBtn()">重置站点</button>
            </div>
        </div>
        <div id="route" class="route">
            <div class="row_container">
                <button type="button" class="selectSite" onclick="clickSiteBtn(this)" value="0">选择起始站点</button>
            </div>
        </div>
    </div>

<!--新增站点页面-->
<div id="drawRoute_container">
    <div>
        <div class="show">
            <button class="show_btn" type="button" onclick="nextBtn(1)">上一步</button>
            <img onclick="show()" class="show_btn icon" th:src="@{/imgs/show.png}">
        </div>
        <div class="show">
            <button class="show_btn" type="button" onclick="refresh()">重置线路</button>
            <button class="show_btn" type="button" onclick="saveRoute()">保存线路</button>
        </div>
    </div>
    <div id="drawRoute" class="route">
    </div>
</div>


</body>

<script type="text/javascript" th:src="@{/js/DrawRoute.js}"></script>
</html>