<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>城市线路配置</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=e3414d925e633d9acc327de720e02e5e&&plugin=AMap.Scale"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <style>
        html,body{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="container" style="height: 50%;width: 100%" ></div>
<div style="height: 50%;width: 100%">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>线路查询条件</legend>
    </fieldset>

    <center>
        <div class="demoTable">
            线路名称&nbsp;：
            <div class="layui-inline">
                <input class="layui-input" id="routeName" autocomplete="off" placeholder="请输入线路名称">
            </div>
            &nbsp;
            起点站名称&nbsp;：
            <div class="layui-inline">
                <input class="layui-input" id="startName" autocomplete="off" placeholder="请输入站点">
            </div>

            终点站名称&nbsp;：
            <div class="layui-inline">
                <input class="layui-input" id="endName" autocomplete="off" placeholder="请输入站点">
            </div>
            <button id="searchBtn" class="layui-btn" data-type="reload">搜索</button>
            <a href="/page/whatPage?pageName=DrawRoute" class="layui-btn" target="_blank">新增</a>
        </div>
    </center>

    <table class="layui-hide" id="test" lay-filter="test"></table>

    <!--表头操作下的编辑跟删除按钮-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs select" lay-event="select">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="update">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
</body>

<script type="text/javascript" th:src="@{/js/Route.js}"></script>
</html>