<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>站点配置</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=e3414d925e633d9acc327de720e02e5e&&plugin=AMap.Scale"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <style>
        html,body{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="container" style="height: 50%;width: 100%" ></div>
<div style="height: 50%;width: 100%">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>站点查询条件</legend>
    </fieldset>

    <center>
        <div class="layui-form">
            站点名称&nbsp;：
            <div class="layui-inline">
                <input class="layui-input" id="siteName" autocomplete="off" placeholder="请输入站点名称">
            </div>
            &nbsp;
            站点人数&nbsp;：
            <div class="layui-inline">
                <input class="layui-input" id="peopleNum" autocomplete="off" placeholder="请输入站点人数">
            </div>
            <button id="searchBtn" class="layui-btn" data-type="reload">搜索</button>
            <button type="button" id="addBtn" class="layui-btn" data-type="reload">新增</button>
        </div>
    </center>
    <br>

    <!--点击新增显示的站点信息-->
    <div style="display: none;" id="myInf">
        <form class="layui-form" action="" method="post">
            <div class="layui-col-md10">
                <br/>
                <div class="layui-form-item">
                    <label class="layui-form-label required">站点名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="addSiteName" required lay-verify="required" placeholder="请输入站点名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">站点经度</label>
                    <div class="layui-input-block">
                        <input type="text" id="addLongitude" required lay-verify="required" placeholder="请输入站点经度坐标"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">站点纬度</label>
                    <div class="layui-input-block">
                        <input type="text" id="addLatitude" required lay-verify="required" placeholder="请输入站点纬度坐标"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">站点人数</label>
                    <div class="layui-input-block">
                        <input type="text" id="addPeopleNum" required lay-verify="required" placeholder="请输入站点人数"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="register" class="layui-btn" lay-submit lay-filter="saveSubmit">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--修改站点信息页面-->
    <!--表单的id用于表单的选择，style是在本页隐藏，只有点击修改才会弹出-->
    <div class="layui-row" id="updateTest" style="display:none;">
        <div class="layui-col-md10">
            <form class="layui-form layui-from-pane" action="" style="margin-top:20px">
                <div class="layui-form-item">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" id="siteId" disabled required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px">
                    <label class="layui-form-label required">站点名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="updateSiteName" required lay-verify="required"
                               autocomplete="off" placeholder="请输入站点名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px">
                    <label class="layui-form-label required">站点经度</label>
                    <div class="layui-input-block">
                        <input type="text" id="updateLongitude" required lay-verify="required" placeholder="请输入站点经度"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px">
                    <label class="layui-form-label required">站点纬度</label>
                    <div class="layui-input-block">
                        <input type="text" id="updateLatitude" required lay-verify="required"
                               autocomplete="off" placeholder="请输入站点纬度" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px">
                    <label class="layui-form-label required">站点人数</label>
                    <div class="layui-input-block">
                        <input type="text" id="updatePeopleNum" required lay-verify="required" placeholder="请输入城市首字母"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px">
                    <div class="layui-input-block">
                        <button type="button" id="sureUpdate" class="layui-btn  layui-btn" lay-submit lay-filter="demo11">
                            确认修改
                        </button>
                        <button type="reset" id="resetBtn"class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="layui-hide" id="test" lay-filter="test"></table>

    <!--表头操作下的编辑跟删除按钮-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="update">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
</body>

<script type="text/javascript" th:src="@{/js/site.js}"></script>
<!--点击修改页面的重置按钮时,不让ID清空内容-->
<script>
    document.getElementById("resetBtn").onclick = function(){
        var siteId = document.getElementById("siteId");
        siteId.defaultValue = siteId.value;
        document.forms[0].reset()
    }
</script>
</html>