<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>账户详情界面</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/src/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="wrap passport">
    <h1 class="title01-logo"><a th:href="@{/main/getView}"><img th:src="@{/imgs/log_blue.png}" style="width: 250px"></a></h1>
    <div class="main register">
        <ul class="tabs">
            <li><span>1</span>个人信息</li>
            <li><span>2</span>修改成功</li>
        </ul><!-- /ul.tabs -->
        <form class="form layui-form" action="/" method="post" id="register_form">
            <table class="form_tb">
                <tbody><tr class="msg_tr">
                    <td colspan="3">
                    </td>
                </tr>
                <tr>
                    <td>账号</td>
                    <td>
                        <input type="text" autocomplete="off" name="account" id="account" disabled="disabled" maxlength="11" th:value="${userInf.account}">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>
                        <input type="text" autocomplete="off" name="userName" id="userName" maxlength="11" th:value="${userInf.userName}">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td>
                        <input type="text" autocomplete="off" name="userAge" id="userAge"  maxlength="11" th:value="${userInf.userAge}">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>
                        <input type="text" autocomplete="off" name="userSex" id="userSex"  maxlength="11" th:value="${userInf.userSex}">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td>手机号</td>
                    <td>
                        <input type="text" autocomplete="off" name="phoneNum" id="phoneNum" disabled="disabled" maxlength="11" th:value="${userInf.phoneNum}">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr class="verify_tr">
                    <td>头像</td>
                    <td>
                        <div class="layui-input-block">

                            <div id="avatar"></div>
                            <input type="file" id="file" name="file"/>
<!--                            <div class="avatar" id="avatar"></div>-->
<!--                            <input type="file" onchange="showImg()" id="img_file">-->
                        </div>
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td>注册时间</td>
                    <td>
                        <input type="text" name="regTime" id="regTime" th:value="${userInf.regTime}" maxlength="16">
                    </td>
                    <td class="info_td">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="submit_btn" lay-submit lay-filter="submit_btn" class="btn" value="提交">
                    </td>
                    <td class="info_td"></td>
                </tr>
                </tbody></table><!-- /.form_tb -->
        </form>

        <div class="register_success none" id="register_success">
            <h1 class="success_h1">
                <span class="checkmark">修改成功！</span>
            </h1>

            <ul class="suggest_list">
                <li>返回<a th:href="@{/}">http://localhost:8080/</a></li>
            </ul><!-- /.suggest_list -->
        </div><!-- /.register_success -->
    </div><!-- /.main -->
</div>

<script th:src="@{/js/jq-slideVerify.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
        function ProcessFile(e) {
            var file = document.getElementById('file').files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var txt = event.target.result;

                    var img = document.createElement("img");
                    img.src = txt;//将图片base64字符串赋值给img的src
                    document.getElementById("avatar").appendChild(img);
                };
            }
            reader.readAsDataURL(file);
        }

    function contentLoaded() {
        document.getElementById('file').addEventListener('change',
            ProcessFile, false);
    }

    window.addEventListener("DOMContentLoaded", contentLoaded, false);

    $(function() {
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(submit_btn)', function(data){
                console.log(data);

                UpladFile();

                $.ajax({
                    url : "/userMain/updateUserInf",
                    type: "post",
                    data :data.field,
                    datatype :"text",
                    success:function (res) {
                        alert(res)
                        if (res.includes("成功")){
                            $(".tabs li:first-child").css({"border-color": "#b8c4ce",
                                "color": "#b8c4ce"})
                            $(".tabs li:first-child + li").css({"border-color": "#53aaec",
                                "color": "#2d97e9"})
                            $("#register_form").addClass("none")
                            $("#register_success").removeClass("none")
                            layer.msg("3秒后跳转回登录页面")
                            setTimeout("jumpurl()",3000)
                        }
                    }
                    })
                })
            });
    })
    function jumpurl(){
        location='/userMain/map';
    }

    /*附件上传*/
    function UpladFile() {
        var fileObj = document.getElementById('file').files[0];// 获取文件对象
        var UserInfController = "/userMain/upladFile";                    // 接收上传文件的后台地址
        // FormData 对象
        var form = new FormData();
        /*form.append("name", "tom");  */                      // 可以增加表单数据
        form.append("file", fileObj);                           // 文件对象
        // XMLHttpRequest 对象
        var xhr = new XMLHttpRequest();
        xhr.open("post", UserInfController, true);
        xhr.onload = function () {
            alert("上传完成!");
        };
        xhr.send(form);

    }

</script>
</body>
</html>
